# --- SHIELDAI BACKEND IGNORE LIST ---

# Dependencies
node_modules/

# Environment Variables (SENSITIVE: Contains DB Link & Admin Pin)
.env

# Logs & Database
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# System Files
.DS_Store
Thumbs.db